* {
margin: 0;
padding: 0; 
}

body{   
		
    background: #1c2531;
    color:#c5c8cc;
    margin-top: 0;
    padding: 0;    
    
}

a:link, a:visited {
    
    color: #c5c8cc;    
    text-align: left;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}


a:hover, a:active {
    
}

div#signup {
    color: mediumslateblue;
    cursor: pointer;
}

#signup_overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    text-align: center;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
 
}

.theform {
	
	padding: 100px;
	
}

.me-textfield {
    border-radius: 5px;
    width: 200px;
    background-color: lightcyan;
}
.filemanager{
	
	
	
}

.operation{
	
	float: left;
	padding: 0 15px 0 15px;
	cursor: pointer;
}

.dash-heading{
	
	padding: 15px 0 15px 0;
}